.category-item__view {
  margin-top: 5px;
}

.category-item__edit {

  .category-item__save-button {
    font-size: 20px;
    cursor: pointer;
    color: green;
    margin-top: 5px;
  }

  .category-item__delete-button {
    font-size: 20px;
    cursor: pointer;
    color: gray;
    margin-top: 5px;
    margin-left: 2px;
  }
}