.app__container {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .app__navigation {
    font-size: 14px;

    .app__navigation__router {
      margin-left: 5px;
    }
  }
}
