.app__container {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: whitesmoke;

  .app__navigation {
    font-size: 14px;

    .app__navigation__links {
      margin-top: 5px;

      .app__navigation__links-margin {
        margin-left: 5px;
      }
    }

    .app__navigation__routes {
      margin: 7px -10px 0 -10px;
    }
  }
}
