.products-list__container {
    .products-list__title {
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
    }
  
    .products-list__add-new {
      margin-bottom: 7px;

      .products-list__currencies {
        float: right;
      }
    }
  }